body {
    background-color: #e3350d;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pokedex {
    background-color: #fff;
    border-radius: 15px;
    width: 320px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #e3350d;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 8px;
    border: 2px solid #e3350d;
    border-radius: 8px;
    width: 60%;

}

button {
    background-color: #e3350d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #c62828;
}

.pokemon-info {
    margin-top: 20px;
    display: none;
}

.pokemon-info img {
    width: 120px;
    height: 120px;
}

.error {
    color: red;
    margin-top: 15px;
}
